body {
  background-color: white;
  color: var(--ink);
  font-family: Trebuchet MS, sans-serif;
  padding-top: 80px;
}

.pagina-noticia {
  max-width: 900px;
  padding: 20px;
  margin-left: 180px;
  font-family: "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  flex-wrap: wrap; 
  text-align: center;
}

.pagina-noticia h1 {
  color: #080d3f;
  font-size: 40px;
  margin-bottom: 10px;
  line-height: 40px;
}

.noticia-detalhe {
    padding: 50px;
    padding-top: 5px;
}

.pagina-noticia .data {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}

.noticia-detalhe h2 {
  font-size: 25px;
  color: black;
  margin-bottom: 20px;
}

.noticia-detalhe p {
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: justify;
}

.imagem-noticia {
  width: 80%;
  margin-bottom: 20px;
}