.news-categories button{
    background-color: #080d3f;
    color: white;
    font-family: Trebuchet MS, sans-serif;
    margin: 10px;
    padding: 15px;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 1px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.news-categories button:hover {
    transform: scale(1.1); 
    background-color: #ffd700; 
}

.container {
    margin: 10px;
    display: flex;
}

.track {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    flex-direction: row;
}

.track.hide {
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
}

.card {
    height: 400px;
    width: 100%;
    overflow: hidden; 
    border-radius: 10px;
    background-color: #fff;
    align-items: flex-start;
    display: flex;
    gap: 20px;
}

.card img {
    margin-top: 25px;
    height: 300px;
    width: 380px;
    border-radius: 10px;
}

.card h3 {
  font-size: 20px;
  font-weight: bold;
  color: #080d3f;
  margin-bottom: 8px;
}

.card p {
  font-size: 10px;
  color: #333;
  text-align: justify;
}

.card div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}