.pagina-noticias {
    margin-top: 1px;
    background-color: #f0f2f5;
}

.pagina-noticias button {
    background-color: #080d3f;
    color: white;
    font-family: Trebuchet MS, sans-serif;
    margin: 10px;
    padding: 15px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 1px;
}

.news-categories button{
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.news-categories button:hover {
    transform: scale(1.1); 
    background-color: #ffd700; 
}

.container {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.track {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    flex-direction: row;
}

.track.hide {
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
    display: none;
}

.card {
    height: 350px;
    width: 400px;
}

.card img {
    height: 200px;
    width: 350px;
}

.card button {
    background-color: #080d3f;
    color: white;
    width: 375px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 0 0 10px 10px; 
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
}

.card button:hover {
   transform: scale(1.0); 
   background-color: #fff;
   color: #080d3f;
   border: 1px solid #080d3f;
}

.card {
    position: relative;
    overflow: hidden; 
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
